{% if checkout_data.result %}
✅ No blocking failures detected!
{% else %}
❌ One or more blocking failures were encountered.
{% include 'failures.j2' %}
{% endif %}
Full testing details: {{ dw_url }}/kcidb/checkouts/{{ checkout_data.checkout.misc.iid }}
